* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

i {
    margin-left: 18px;
}

.navbar-box {
    display: flex;
    height: 50px;
    background-color: #4e4e4e;
    align-content: center;
    top: 0px;
    position: sticky;
    z-index: 1000;
}

.navbar {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    line-height: 21px;
    font-size: 18px;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.comp-name {
    color: white;
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 400;
    color: #f1f1f1;
}

.nav-list-el {
    margin-left: 46px;
    position: relative;
}

.nav-list-el::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #556163;
    transition: all 0.5s ease-in;
}

.nav-list-el:hover::after {
    width: 100%;
}

.nav-link-dis {
    cursor: not-allowed;
}

.page-content {
    margin: auto;
}

.page-header {
    height: calc(100vh - 50px);
    display: flex;
    background: linear-gradient(rgba(5, 42, 66, 0.6), rgba(0, 38, 60, 0.6)),
        url("https://images.unsplash.com/photo-1667645336934-14f086562b49?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
            no-repeat center fixed;
    background-size: cover;
    align-items: center;
}

.header-content {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    scroll-behavior: smooth;
}

.header-smallbox {
    display: flex;
    width: 577px;
    flex-direction: column;
}

.offer-link {
    display: block;
    text-align: center;
    width: 164px;
    height: 41px;
    border: 3px solid #ffffff;
    transition: 1s ease-out;
    background-color: transparent;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 7px;
}

.offer-link:hover {
    background-color: white;
    color: black;
}

.intro {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}

.intro-2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
}

.about-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #152d41;
}

.about-content {
    padding-top: 51px;
}

.employees-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-bottom: 68px;
}

.employee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.employee:nth-of-type(odd) {
    flex-direction: row;
    text-align: left;
}

.employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.employee:nth-of-type(odd) .employee-bio {
    margin-left: 60px;
}

.employee:nth-of-type(even) .employee-bio {
    margin-right: 60px;
}

.employee-pic {
    flex: 0 0 197px;
    background-position: center;
    background-size: cover;
    width: 197px;
    height: 197px;
    border-radius: 50%;
}

.em-pic-1 {
    background-image: url("../media/horace.png");
}

.em-pic-2 {
    background-image: url("../media/minerva.jpg");
}

.em-pic-3 {
    background-image: url("../media/mugwump.png");
}

.em-pic-4 {
    background-image: url("../media/snivellus.jpeg");
}

.bio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.bio-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
}

.offer-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}

.offer-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.offer-content {
    background-color: #405d78;
}

.all-offers {
    display: grid;
    width: 720px;
    margin: auto;
    grid-template-columns: auto auto auto;
    gap: 63px;
    margin-top: 83px;
    padding-bottom: 64px;
}

.offer-box {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #f1f1f1;
    height: 194px;
    width: 198px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: all 0.5s ease-out;
}

.offer-box:hover {
    transform: scale(1.05);
}

.offer-new {
    flex-direction: column;
    position: relative;
}

.offer-new:hover {
    transform: scale(1.05);
}

.offer-new::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #e07a64;
    position: absolute;
    top: -10px;
    left: -10px;
}

.new-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer-box {
    height: 50px;
    background-color: #4e4e4e;
}

.footer {
    display: flex;
    width: 960px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 21px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
